# Pinata (server)
PINATA_GATEWAY=
PINATA_JWT=
PINATA_GROUP_ID=

# Pinata (client)
VITE_PINATA_GATEWAY=

# XMTP
VITE_XMTP_ENV=dev

# Logging (trace | debug | info | warn | error)
VITE_LOG_LEVEL=error
VITE_LOG_DOMAINS=
