.root {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xxxs);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
}

.row + .row {
  border-top: 1px solid var(--mantine-color-gray-2);
}
