.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-md);
  flex: 1;
  justify-content: flex-end;
}
