.root {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--convos-nav-width);
  height: var(--convos-header-height);
  border-right: 1px solid var(--mantine-color-default-border);
}

@media (max-width: 768px) {
  .root {
    position: static;
    width: 100%;
    border-right: none;
    flex-shrink: 0;
  }
}
