.panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--convos-details-width);
  background-color: var(--mantine-color-gray-1);
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--mantine-color-default-border);
}

.panel[data-state="closed"] {
  right: calc(var(--convos-details-width) * -1);
}

.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 var(--mantine-spacing-md);
  height: var(--convos-header-height);
  position: relative;
}

.header > :last-child {
  margin-left: auto;
}

.headerTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--mantine-spacing-lg);
  border-top: 1px solid var(--mantine-color-default-border);
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-xxxs);
  min-width: 48px;
  text-align: center;
}

.pages {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  border-top: 1px solid var(--mantine-color-default-border);
}

.page {
  position: absolute;
  inset: 0;
  overflow-y: auto;
  padding: var(--mantine-spacing-lg);
  transition: transform 0.2s ease-in-out;
}

.page[data-page="details"] {
  transform: translateX(0);
}

.page[data-page="details"][data-offscreen] {
  transform: translateX(-100%);
}

.page[data-page="members"] {
  transform: translateX(0);
}

.page[data-page="members"][data-offscreen] {
  transform: translateX(100%);
}

@media (max-width: 768px) {
  .panel {
    top: 0;
    z-index: 100;
    transition: transform 0.25s ease-in-out;
  }

  .panel[data-state="closed"] {
    right: 0;
    transform: translateX(100%);
  }
}
