.link {
  color: inherit;
  text-decoration: none;
}

.root {
  padding-inline: var(--convos-header-padding);
  height: var(--convos-card-height);
}

.root[data-selected],
.root:hover {
  background: var(--mantine-color-gray-2);
}

.unreadDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--mantine-color-blue-6);
  flex: 0 0 auto;
}
