.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.main {
  position: relative;
  margin-left: var(--convos-nav-width);
  background-color: var(--mantine-color-body);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mainFull {
  position: relative;
  background-color: var(--mantine-color-body);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.aside {
  position: fixed;
  top: var(--convos-header-height);
  bottom: 0;
  left: 0;
  width: var(--convos-nav-width);
  background-color: var(--mantine-color-default);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-default-border);
  border-top: 1px solid var(--mantine-color-default-border);
}

.asideNav {
  width: var(--convos-nav-width);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }

  .aside {
    top: 0;
    z-index: 100;
    border-right: none;
    transition: transform 0.25s ease-in-out;
  }

  .root[data-state="closed"] .aside {
    left: 0;
    transform: translateX(-100%);
  }
}
