.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 1;
  margin-left: var(--convos-nav-width);
  transition: margin-left 0.1s ease-out;
  background-color: var(--mantine-color-body);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.root[data-state="closed"] .main {
  margin-left: 0;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.aside {
  position: fixed;
  top: var(--convos-header-height);
  bottom: 0;
  left: 0;
  width: var(--convos-nav-width);
  z-index: 100;
  background-color: var(--mantine-color-default);
  transition: left 0.1s ease-out;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-default-border);
  border-top: 1px solid var(--mantine-color-default-border);
  z-index: 100;
}

.root[data-state="closed"] .aside {
  left: calc(var(--convos-nav-width) * -1);
}

.asideNav {
  width: var(--convos-nav-width);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
